@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
:root {
  --neavy_blue: hsl(234, 29%, 20%);
  --light_blue: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --tomato: hsl(4, 100%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400 700;
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: max-content;
  background-color: var(--neavy_blue);
}
.form-container {
  display: flex;
  overflow: hidden;
  width: 60%;
  height: 60%;
  border-radius: 30px;
  background-color: var(--white);
  padding: 20px;
}
.form_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 55%;
  height: 100%;
  padding: 20px 30px;
}
.form_right {
  width: 45%;
  background-color: var(--tomato);
  height: 100%;
  border-radius: 30px;
}
.icon_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 18px;
  height: 18px;
}
.input_container {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}
.input_field {
  border: 2px solid var(--grey);
  width: 100%;
  height: 4vh;
  padding-left: 10px;
  border-radius: 7px;
}
.form_button {
  background-color: var(--neavy_blue);
  width: 100%;
  height: 4vh;
  color: var(--white);
  padding-left: 10px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
.title {
  color: var(--neavy_blue);
  font-size: 12pt;
}
